DJANGO_DEBUG=True
DJANGO_SECRET_KEY=change-me-in-production
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=
DJANGO_USE_HTTPS_SECURITY=False
DJANGO_MONETIZATION_ENABLED=False
DJANGO_ENTERPRISE_ADS_ENABLED=False
PUBLIC_LISTING_DAYS=30
PUBLIC_LISTING_MAX_IMAGES=10
PUBLIC_LISTING_MAX_PER_HOUR=5
PUBLIC_AUTH_MAX_ATTEMPTS_PER_HOUR=10
DATABASE_URL=postgresql://neondb_owner:npg_JSRNu2Bk7tjQ@ep-crimson-thunder-b15ty486-pooler.c-5.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

CLOUDINARY_CLOUD_NAME=cgubxiwq
CLOUDINARY_API_KEY=152225333924467
CLOUDINARY_API_SECRET=9TdGFR1hrq327IWxG5AdFQaYKbY
CLOUDINARY_URL=CLOUDINARY_URL=cloudinary://152225333924467:9TdGFR1hrq327IWxG5AdFQaYKbY@cgubxiwq